#root {
  --red: #d81159;
  --gold: #ffb600;
  --blue: #a5ecff;
  --light-blue: #e0f8ff;
  --gray: #7e7e7e;
  --white: #ffffff;
  --black: #000000;

  font-family: "urbanist", Arial, sans-serif;
  /* text-align: center; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content-container {
  max-width: 1400px;
  margin: auto;
}

.section-container {
  width: 80%;
  margin: auto;
  padding-bottom: 5rem;
}

.hide {
  display: none !important;
}

/* Typography */
h1 {
  font-weight: 900;
  font-size: 2.5rem;
  font-family: jaf-herb, serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

.subtext {
  font-style: italic;
}

.hero-copy {
  font-size: 1.25rem;
}

.center-text {
  text-align: center;
}

/* images */

.socials {
  display: flex;
  gap: 0.5rem;
  width: 106px;
}

.social-image {
  height: 32px;
  width: 32px;
}

.hero-image {
  width: 100%;
  max-width: 400px;
}

/* links */

a {
  text-decoration: none; /* Removes the underline */
  color: var(--red); /* Inherits the current text color */
  font-style: italic;
}

a:hover {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the current text color */
  font-style: italic;
}

/* nav */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-home {
  display: flex;
  align-items: center;
}

.nav-home-icon {
  width: 3rem;
}

.homepage-name {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.25rem;
  font-family: jaf-herb, serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--black);
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.nav-link {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

/* layouts */

.layout {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.layout-mini {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.header-subtext {
  gap: 0;
}

/* CTAs */

.call-to-action {
  width: 250px;
  border-radius: 2rem;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cta-small {
  width: 200px;
  padding: 5px;
}

.cta-red {
  color: var(--white);
  background-color: var(--red);
}

.cta-white {
  color: var(--black);
  background-color: var(--white);
  border: solid 2px var(--black);
}

.cta-icon {
}

.cta-text {
  font-weight: 800;
  font-size: 1.25rem;
}

.ctas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.875rem;
  margin: auto;
}

/* item cards */

.item-card {
  background-color: var(--white);
  width: 100%;
  max-width: 24rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  /* height: 240px; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.item-image {
  width: 100%;
  max-width: 12.5rem;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.item-text {
  gap: 0.75rem;
}

.item-card-ctas {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.card-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 2rem;
}

@media only screen and (max-width: 1300px) {
  .item-card {
    justify-self: center;
  }
  .card-container {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 700px) {
  .card-container {
    grid-template-columns: 100%;
  }
}
